{% extends 'base.html' %}
{% load static %}
{% block title %}Password Rest Complete{% endblock %}
{% block content %}
<div class="glass-container text-center w-100 px-3" style="max-width: 400px;">
    <!-- Brand Name -->
    <h2 class="animated-text fw-bold mb-4" style="text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);">Tommify</h2>
    <h2 class="text-white mb-3 text-center">Password Reset Complete</h2>
    <p class="text-center">Your password has been successfully reset. You can now log in with your new password.</p>
    <div class="d-flex justify-content-center">
    <a href="{% url 'login' %}" class="btn btn-dark w-100 rounded-pill animated-button">Return to Login</a>
    </div>
  </div>

{% endblock %}