{% extends 'base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="glass-container text-center w-100 px-3" style="max-width: 400px;">
    <!-- Brand Name -->
    <h2 class="animated-text fw-bold mb-4" style="text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);">Tommify</h2>
    <div class=" text-center w-100 px-3" style="max-width: 400px;">
        <h2 class="text-white mb-3 text-center">Set New Password</h2>
        <p class="text-center">Enter your new password below.</p>
        {% if form.errors %}
        <div class="messages.container">
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a>{{error}}</a>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-lock"></i></span>
                <input type="password" id="password" class="form-control border-0 shadow-sm rounded-end-pill" name="new_password1" placeholder="Password" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-lock"></i></span>
                <input type="password" id="password1" class="form-control border-0 shadow-sm rounded-end-pill" name="new_password2" placeholder="Confirm Password" required>
            </div>

            <div class="mb-3 text-end">
                <small style="cursor: pointer;" class="showPasswordToggle py-3 ">SHOW</small>
            </div>
            <button type="submit" class="btn btn-dark w-100 rounded-pill animated-button">Reset Password</button>
        </form>
    </div>
</div>
	
{% endblock %}

# I want this page to filter the unregister email and return an error message instead of always redirecting very email inputed though it is incorrect