{% extends 'base.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="glass-container text-center w-100 px-3" style="max-width: 400px;">
    <!-- Brand Name -->
    <h2 class="animated-text fw-bold mb-4" style="text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);">Tommify</h2>
    <!-- Blurry Background Form -->
    <div class=" text-center w-100 px-3" style="max-width: 400px;">
        <h4 class="fw-bold mb-4">Forgotten Password?</h4>
        {% if messages %}
        <div class="messages.container">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a>{{message}}</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <p class="text-center">Enter your email and we will send you a link to reset your password.</p>

        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control border-0 shadow-sm rounded-end-pill" name="email" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn btn-dark w-100 rounded-pill animated-button">Send Reset Link</button>
        </form>
    </div>
     <!-- Create Account Link -->
    <div class="mb-2">
        <a href="{% url 'login' %}" class="text-white text-decoration-none">Back to Login</a>
    </div>
</div>

{% endblock %}