{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="glass-container text-center w-100 px-3" style="max-width: 400px;">
    <!-- Brand Name -->
    <h2 class="animated-text mb-4" style="text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);">Tommify</h2>

   

    <!-- Blurry Background Form -->
    <div class=" text-center w-100 px-3" style="max-width: 400px;">
        <h4 class="fw-bold mb-4">Create an Account</h4>
    {% if messages %}
    <div class="messages.container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <a class="text-decoration-none">{{message}}</a>
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success">
                <a class="text-decoration-none">{{message}}</a>
            </div>
            {% else %}
            <div class="alert alert-info">
                <a></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control border-0 shadow-sm rounded-end-pill" name="username" placeholder="Enter your Username" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control border-0 shadow-sm rounded-end-pill" name="email" placeholder="Enter your email address" required>
            </div>
			<div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-lock"></i></span>
                <input type="password" id="password" class="form-control border-0 shadow-sm " name="password1" placeholder="Password" required>
				<span class="input-group-text bg-white border-0 rounded-end-pill showPasswordToggle" style="cursor:pointer;" ><i id="toggleIcon" class="fas fa-eye"></i></span>
            </div>
			<div class="input-group mb-3">
                <span class="input-group-text bg-white border-0 rounded-start-pill"><i class="fas fa-lock"></i></span>
                <input type="password" id="password1" class="form-control border-0 shadow-sm " name="password2" placeholder="Confirm Password" required>
				<span class="input-group-text bg-white border-0 rounded-end-pill showConfirmPasswordToggle" style="cursor:pointer;" ><i id="toggleIcon1" class="fas fa-eye"></i></span>
            </div>

            <button type="submit" class="btn btn-dark w-100 rounded-pill animated-button">REGISTER</button>
        </form>

     <!-- social links -->
     <div class="text-center mt-3">
        <div class="d-flex justify-content-center gap-3">
            <a href="#"  class="btn btn-outline-light rounded-circle" data-bs-toggle="tooltip" title="Google">
                <i id="google" class="fab fa-google"></i>
            </a>
            <a href="#" class="btn btn-outline-light rounded-circle" data-bs-toggle="tooltip" title="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="btn btn-outline-light rounded-circle" data-bs-toggle="tooltip" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
     <!-- Create Account Link -->
    <div class="text-center mt-3">
        <p>Already have an account? <a href="{% url 'login' %}" class="text-white text-decoration-none animated-text">Log in</a>
    </div>
  </div>

{% endblock %}