{% extends 'social_base.html' %}
{% load static %}
{% block main-content %}
        <!-- Profile Update Form -->
        <div class="col-lg-6 col-12 mx-auto p-3">
            <h3 class="text-primary">Update Profile</h3>
            
            <div class="bg-white p-4 rounded shadow-sm">
                <!-- messages -->
                <div class=" text-center w-100 px-3" >
                    {% if messages %}
                    <div class="messages.container">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger">
                                <a>{{message}}</a>
                            </div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-success">
                                <a>{{message}}</a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <form id="profileUpdateForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Profile Picture -->
                    <div class="text-center mb-3">
                        {% if profile.photo %}
                        <img src="{{profile.photo.url}}" alt="Poster" class="rounded-circle me-2 thumbline3" >
                        {% else %}
                        <img src="{% static 'img/profile.png' %}" alt="Poster" class="rounded-circle me-2 thumbline3" >
                        {% endif %}
                        <input type="file" class="form-control mt-2" id="profilePic" name="photo" value="{{profile_form.photo.value}}" accept="image/*">
                    </div>

                    <!-- Username -->
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstname" name="first_name" value="{{user_form.first_name.value}}" placeholder="Enter your first name">
                    </div>

                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastname" name="last_name" value="{{user_form.last_name.value}}" placeholder="Enter your last name">
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user_form.email.value}}" placeholder="Enter your email">
                    </div>

                    <!-- Bio -->
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" rows="3" name="bio" placeholder="Tell us about yourself">{{profile_form.bio.value}}</textarea>
                    </div>

                    <!-- Location -->
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{profile_form.location.value}}" placeholder="Enter your location">
                    </div>
                    

                    <!-- Save Button -->
                    <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                </form>
            </div>
        </div>

{% endblock %}